body {
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch
}
.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    padding: 10px;
}

.logo {
    font-size: 18px;
    font-weight: 700;
}

.links {
    display: flex;
    gap: 20px;
}
.intro1 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    height: 100%;
    padding: 50px;
}

.intro1-right {
    border: 2px solid white;
    height: 100%;
    width: 50%;
}

.projects2 {
    background-color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 50px;
}

.project1, .project2, .project3 {
    height: 80px;
    width: 100px;
    border: 2px solid black;
    border-radius: 6px;
}

.quote3 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

.contact4{
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    height: 200px;
    
}

.awesome {
    font-size: 48px;
    font-weight: 800;
}

.signup {
    background-color: #3882F6;
    border-radius: 7px;
    border-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
    padding: 5px;
}